body {
    background-color: black;
    header {
        background-color: white;
        justify-content: center;
        h1 {
            background-color: black;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            

        }

    }
}