nav{
    background-color: grey;
    display: flex;
    justify-content: center;

    nav{ 
        background-color: red;

        div {
            background-color: grey;
            padding: 0%;
         
            div{

                ul {
                    li{

                    }
                }
            }
        }
    }
}